
.floatingdiv{
    display: flex;
    justify-content: space-around;
    background-color: white;
    box-shadow: var(--boxShadow);
    border-radius: 17px;
    align-items: center;
    padding: 0 28px 0 0;
    height: 4.5rem;
}
.floatingdiv>img{
    transform: scale(.4);
}